.m-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.m-dialog-content {
    position: absolute;
    min-height: 182.6px;
    width: 444px;
    background-color: white;
    left: 50%;
    transform: translate(-50%);
    top: calc((100vh - 182.6px)/2);
}

.m-dialog-body {
    display: flex;
    padding: 32px;
    height: 100%;
    flex-direction: column;
}

.main-message {
    display: flex;
    width: 100%;
    height: 61.6px;
}

.alert-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-left: 24px;
    font-size: 13px
}

.dialog-line-footer {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.footer-dialog {
    display: flex;
    justify-content: flex-end;
}